/* 
    #### ALL  ANIMATION  TO  OCT8 FRAMEWORK LANGUAGE ######## 
    Todas as animações pré definidas para facilitar a criação 
    de animações padrões.
*/

.objectAnimateStandart{
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-name: move;
}


@keyframes move{
    from{
        margin-left: 460px;
    }
    to{
        margin-left: 0px;
    }
}