@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
@import url('./animateOct.css');
body{
    background-color: #642d7e;
}
footer{
    background-color: #31123f;
    height: 6vh;
    width: 100%;
    color: aliceblue;
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: #8a40ac;
    padding-top: 1vh;
}
#menu{
    background-color: #31123f;
    color: white;
}
#menu a {
    color: #8a40ac;
}
#result{
    background-color: black;
    margin:2vh 0vh 0vh 2vh;
    height: 80vh;
    width: 90vh;
    position: relative;
}
#editorcode{
    height: 80vh;
    width: 110vh;
    position: relative;
    float: right;
    margin:0vh 0vh 4vh 0vh;
}
#editorcode textarea{
    background-color: #642d7e;
    color: white;
    font-family:'Comic Neue', cursive;
    outline:none;
    stroke: none;
    resize: none;
    box-shadow: none;
    height: 75vh;
    width: 100vh;
    margin: 5vh 0vh 0vh 1vh;
    padding-left: 2vh;
}
.titlecode{
    background-color:#642d7e;
    color: #9449b8;
    height: 5vh;
    width: 100%;
    position: absolute;
}

/*Objetos*/

#square{
    margin-top: 30vh;
    margin-left: 290px;
    position: absolute;
    height: 20vh;
    width: 20vh;
    background-color: red;
}