*{
    font-family: 'Open Sans', sans-serif;
}
.barelement{
    height: 100%;
    width: 100%;
}
.art{
    opacity: 0;
}

.art-about{
    transition: 1s all;
}
.barSelector{
    margin-top: -90vh;
}
#ArticlesBar{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

}
.boxExample{
    background-color: #261a3d;
    padding: 4vh;
    color: #A6ACCD;
    border-radius: 2vh;
}
.material-page{
    overflow-y: hidden;

}
#materialPage{
    overflow-y: hidden;

}
.space{
    padding: 210vh;
    margin-top: 2vh;
    margin-left: 1vh;
}