*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #ffe5c7;
}

#mainPage{
    background-color: white;   
}

.navTop{
    display: flex;
    flex-direction: row;
}
.navTop ul{
    align-items: center;    
    align-items: center;
   /* margin-left: 40vh; */
    text-align: center;
}
.navTop ul li {
    float: left;
    list-style: none;
    margin-left: 2vh;
    padding: 2vh;
    font-size: 3vh;
    text-align: center;
}