*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #ffb764;
}

#mainPage{
    background-color: white;   
}
#topPage{
    height: 10vh;
    width: 90vh;
    margin-left: 60vh;
}
#navPage h1{
    text-align: center;
}

/* MEDIAS QUERYS */

@media (min-height:915px){
    #topPage{
        height: 8vh;
        width: 40vh;
        margin-top: 0vh;
        margin-left: 1vh;
    }
}