/*
  CBE - Container Body Element
  This element function with Pyshic and
  limit insides elements and add interactive
   with envirioment. 
*/
.cbe{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-around;
    align-items: flex-end;
    flex-flow: row wrap;
}
.cbe-off {
    position: absolute;
}
.cbe-on{
    border: 4px #61ce61 solid;
}
.cbe-action{
    border: 4px #61ce61 solid;
}
.cbe-rotate{
    border: 4px #61ce61 solid;
}

/*
  ELB - Element apply box
  This element function with Pyshic and
  limit insides elements and add interactive
   with envirioment. 
*/

.elb{
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #464545;
}
.elb-cont{
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        flex-wrap: wrap;
}
.elb-off{
    background-color: transparent;
    border: none;
} 
.elb-on{
    background-color:transparent;
    border: 4px #464545 solid;
}

  /*  Deform Elb elements with CSS custom   */
  .elb-dY-1{ transform: skewY(10deg)}
  .elb-dY-2{ transform: skewY(20deg)}
  .elb-dY-3{ transform: skewY(30deg)}
  .elb-dY-4{ transform: skewY(40deg)}
  .elb-dY-5{ transform: skewY(50deg)}
  .elb-dY-6{ transform: skewY(60deg)}
  .elb-dY-7{ transform: skewY(70deg)}
  .elb-dY-8{ transform: skewY(80deg)}
  .elb-dY-9{ transform: skewY(90deg)}

  .elb-dX-1{ transform: skewX(10deg)}
  .elb-dX-2{ transform: skewX(20deg)}
  .elb-dX-3{ transform: skewX(30deg)}
  .elb-dX-4{ transform: skewX(40deg)}
  .elb-dX-5{ transform: skewX(50deg)}
  .elb-dX-6{ transform: skewX(60deg)}
  .elb-dX-7{ transform: skewX(70deg)}
  .elb-dX-8{ transform: skewX(80deg)}
  .elb-dX-9{ transform: skewX(90deg)}
  
  /*
   SSE - Square solid element 
   this elements not use rules to CBE
   its possible create other element with news
   propries without retrictions

  */
.sse{
    position: absolute;
    background-color: #000;
    width: 1vh;
    height: 1vh;
}
.sse-on{
    background-color:transparent;
    border: 4px #000 solid;
}
.sse-off{
    background-color:transparent;
}
.sse-pos{
    position: relative;
}


/*
    Properties of Environment
    X = position X of element 
    Y = position Y of element 
    H = Height of element
    W = Width of element
*/
.X-0{ margin-left: 0vh;}
.X-1{ margin-left: 10vh;}
.X-2{ margin-left: 20vh;}
.X-3{ margin-left: 30vh;}
.X-4{ margin-left: 40vh;}
.X-5{ margin-left: 50vh;}
.X-6{ margin-left: 60vh;}
.X-7{ margin-left: 70vh;}
.X-8{ margin-left: 80vh;}
.X-9{ margin-left: 90vh;}
.X-10{ margin-left: 100vh;}

.Y-0{ margin-top: 0vh;}
.Y-1{ margin-top: 10vh;}
.Y-2{ margin-top: 20vh;}
.Y-3{ margin-top: 30vh;}
.Y-4{ margin-top: 40vh;}
.Y-5{ margin-top: 50vh;}
.Y-6{ margin-top: 60vh;}
.Y-7{ margin-top: 70vh;}
.Y-8{ margin-top: 80vh;}
.Y-9{ margin-top: 90vh;}
.Y-10{ margin-top: 100vh;}

/* 3D pespective apply */
.apply-Z {  perspective: 30vh;}
.Z{transform-style: preserve-3d;}

.rotate-X-0{ transform: rotateX(0deg);}
.rotate-Y-0{ transform:1 rotateY(0deg);}

.rotate-X-1{ transform: rotateX(10deg);}
.rotate-Y-1{ transform:1 rotateY(10deg);}

.rotate-X-2{ transform: rotateX(20deg);}
.rotate-Y-2{ transform: rotateY(20deg);}

.rotate-X-3{ transform: rotateX(30deg);}
.rotate-Y-3{ transform: rotateY(30deg);}

.rotate-X-4{ transform: rotateX(40deg);}
.rotate-Y-4{ transform: rotateY(40deg);}

.rotate-X-5{ transform: rotateX(50deg);}
.rotate-Y-5{ transform: rotateY(50deg);}

.rotate-X-6{ transform: rotateX(60deg);}
.rotate-Y-6{ transform: rotateY(60deg);}

.rotate-X-7{ transform: rotateX(70deg);}
.rotate-Y-7{ transform: rotateY(70deg);}

.rotate-X-8{ transform: rotateX(80deg);}
.rotate-Y-8{ transform: rotateY(80deg);}

.rotate-X-9{ transform: rotateX(90deg);}
.rotate-Y-9{ transform: rotateY(90deg);}

.Layer-1 { z-index: 1;}
.Layer-2 { z-index: 2;}
.Layer-3 { z-index: 3;}
.Layer-4 { z-index: 4;}
.Layer-5 { z-index: 5;}
.Layer-6 { z-index: 6;}
.Layer-7 { z-index: 7;}
.Layer-8 { z-index: 8;}
.Layer-9 { z-index: 9;}

.W-1  {width: 10vh;}
.W-2  {width: 20vh;}
.W-3  {width: 30vh;}
.W-4  {width: 40vh;}
.W-5  {width: 50vh;}
.W-6  {width: 60vh;}
.W-7  {width: 70vh;}
.W-8  {width: 80vh;}
.W-9  {width: 90vh;}
.W-10 {width: 100vh;}

.H-1 {height: 10vh;}
.H-2 {height: 20vh;}
.H-3 {height: 30vh;}
.H-4 {height: 40vh;}
.H-5 {height: 50vh;}
.H-6 {height: 60vh;}
.H-7 {height: 70vh;}
.H-8 {height: 80vh;}
.H-9 {height: 90vh;}
.H-10 {height: 100vh;}

/*
    STROKE LINES Effect
*/
.stroke-bottom{border-bottom: 4px solid #464545;}
.stroke-right{border-right: 4px solid #464545;}
.stroke-left{border-left: 4px solid #464545;}
.stroke-top{border-top: 4px solid #464545;}

.border-smooth-1{ border-radius: 1vh;}
.border-smooth-2{ border-radius: 2vh;}
.border-smooth-3{ border-radius: 3vh;}
.border-smooth-4{ border-radius: 4vh;}
.border-smooth-5{ border-radius: 5vh;}
.border-smooth-6{ border-radius: 6vh;}
.border-smooth-7{ border-radius: 7vh;}
.border-smooth-8{ border-radius: 8vh;}
.border-smooth-9{ border-radius: 9vh;}

.sbc-green{border-color:#429242;}
.sbc-gray{border-color: #464545;}
.sbc-yellow{border-color: #edff4f;}
.sbc-red{border-color: #ce4331;}
.sbc-blue{border-color: #0a28ce;}

.hoverAplly-gray-stroke{transition: background-color 1s;}
.hoverAplly-gray-stroke:hover{border-color: #646464;}

.hoverAplly-green-stroke{transition: background-color 1s;}
.hoverAplly-green-stroke:hover{border-color: #429242;}

.hoverAplly-red-stroke{transition: background-color 1s;}
.hoverAplly-red-stroke:hover{border-color: #ce4331;}

.hoverAplly-blue-stroke{transition: background-color 1s;}
.hoverAplly-blue-stroke:hover{border-color: #0a28ce;}

.hoverAplly-yellow-stroke{transition: background-color 1s;}
.hoverAplly-yellow-stroke:hover{border-color: #edff4f;}

.stroke-1{border-width: 1vh;}
.stroke-2{border-width: 2vh;}
.stroke-3{border-width: 3vh;}
.stroke-4{border-width: 4vh;}
.stroke-5{border-width: 5vh;}
.stroke-6{border-width: 6vh;}
.stroke-7{border-width: 7vh;}
.stroke-8{border-width: 8vh;}
.stroke-9{border-width: 9vh;}

/*
==============================================
==============================================
*/
.hoverApply-borders{
    transition: border-left 0.3s;
    transition: border-right 0.3s;
    transition: border-top 0.3s;
    transition: border-bottom 0.3s;
}

.hoverapply-height-1 {transition: height 0.3s;}
.hoverapply-height-1:hover{height: 10vh;}

.hoverapply-height-2 {transition: height 0.3s;}
.hoverapply-height-2:hover{height: 20vh;}

.hoverapply-height-3 {transition: height 0.3s;}
.hoverapply-height-3:hover{height: 30vh;}

.hoverapply-height-4 {transition: height 0.3s;}
.hoverapply-height-4:hover{height: 40vh;}

.hoverapply-height-5 {transition: height 0.3s;}
.hoverapply-height-5:hover{height: 50vh;}

.hoverapply-height-6 {transition: height 0.3s;}
.hoverapply-height-6:hover{height: 60vh;}

.hoverapply-height-7 {transition: height 0.3s;}
.hoverapply-height-7:hover{height: 70vh;}

.hoverapply-height-8 {transition: height 0.3s;}
.hoverapply-height-8:hover{height: 80vh;}

.hoverapply-height-9 {transition: height 0.3s;}
.hoverapply-height-9:hover{height: 90vh;}

.hoverAplly-X{transition: margin-left 0.3s;}
.hoverApply-Layer{transition: z-index 0.3s;}
.hoverAplly-Y{transition: margin-top 0.3s;}
.hoverAplly-Y{transition: height 0.3s;}
.hoverAplly-Y{transition: width 0.3s;}

.hoverApply-Layer-1{transition: height 0.3s;}
.hoverApply-Layer-1:hover{z-index: 1;}

.hoverApply-Layer-2{transition: height 0.3s;}
.hoverApply-Layer-2:hover{z-index: 2;}

.hoverApply-Layer-3{transition: height 0.3s;}
.hoverApply-Layer-3:hover{z-index: 3;}

.hoverApply-Layer-4{transition: height 0.3s;}
.hoverApply-Layer-4:hover{z-index: 4;}

.hoverApply-Layer-5{transition: height 0.3s;}
.hoverApply-Layer-5:hover{z-index: 5;}

.hoverApply-Layer-6{transition: height 0.3s;}
.hoverApply-Layer-6:hover{z-index: 6;}

.hoverApply-Layer-7{transition: height 0.3s;}
.hoverApply-Layer-7:hover{z-index: 7;}

.hoverApply-Layer-8{transition: height 0.3s;}
.hoverApply-Layer-8:hover{z-index: 8;}

.hoverApply-Layer-9{transition: height 0.3s;}
.hoverApply-Layer-9:hover{z-index: 9;}

/*
==============================================
==============================================
*/
/* LINES RULES */
.blazer-border{
    border-bottom-left-radius: 60%;
}


/* 
    Add rules to animations basic
    Move X to 100vh
*/

.bc-green{background-color: #429242;}
.bc-gray{background-color: #646464;}
.bc-yellow{background-color: #edff4f;}
.bc-red{background-color: #ce4331;}
.bc-blue{background-color: #0a28ce;}


.hoverAplly-green{transition: background-color 1s;}
.hoverAplly-green:hover{background: #429242;}

.hoverAplly-yellow{transition: background-color 1s;}
.hoverAplly-yellow:hover{background: #edff4f;}

.hoverAplly-red{transition: background-color 1s;}
.hoverAplly-red:hover{background: #ce4331;}

.hoverAplly-blue{transition: background-color 1s;}
.hoverAplly-blue:hover{background: #0a28ce;}

.hoverAplly-gray{transition: background-color 1s;}
.hoverAplly-gray:hover{background: #646464;}

/* Draw geometric shapes */ 

.diamond-1{width:10vh;height:10vh;transform: rotate(-45deg);}
.diamond-2{width:40vh;height:40vh;transform: rotate(-45deg);}
.diamond-3{width:30vh;height:30vh;transform: rotate(-45deg);}

.circle-1{width: 10vh;height: 10vh;border-radius: 50%;}
.circle-2{width: 20vh;height: 20vh;border-radius: 50%;}
.circle-3{width: 30vh;height: 30vh;border-radius: 50%;}

.half-ellipses-1{  border-radius: 50% / 100% 100% 0 0; }

.parallelogram-1 {width: 20vh;height: 10vh;transform: skew(20deg);}
.parallelogram-2 {width: 20vh;height: 10vh;transform: skew(20deg);}
.parallelogram-3 {width: 20vh;height: 10vh;transform: skew(20deg);}
 