@layer Menu{
[oct-css="menu"] ul > li{
  float: left;
  margin-left: 4vh;
   list-style: none;
   text-decoration: none;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
}

[oct-css="menu"] ul li:hover{
  background-color: #ffd78c;
  border-radius: 2vh;
  width: 10vh;
  text-align: center;
}
[oct-css="menu"]{
  display: flex;
  flex-direction: row;
  background-color: #dda339;
  padding: 1vh;
  border-radius: 2vh 2vh 0vh 0vh;
}
}
