@layer Menu{
[oct-css="menu"] ul > li{
  float: left;
  margin-left: 4vh;
   list-style: none;
   text-decoration: none;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
}

[oct-css="menu"] ul li:hover{
  background-color: #ffd78c;
  border-radius: 2vh;
  width: 10vh;
  text-align: center;
}
[oct-css="menu"]{
  display: flex;
  flex-direction: row;
  background-color: #dda339;
  padding: 1vh;
  border-radius: 2vh 2vh 0vh 0vh;
}
}
@layer Banner{
[oct-css*="banner"]{
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #725319;
}
[oct-css*="banner"] article{
  margin-top: 1vh;
  margin-left: 4vw;
}
[oct-css*="banner"] img{
  height: 20vh;
  width:  30vh;
}
[oct-css="banner big orange"]{
  height: 50vh;
  background-color: #f5b238;
  text-align: center;
  padding: 0.1vw;
}
[oct-css*="banner"] button{
  background-color: #78571b;
  color:#ffae22;
  padding: 1vh;
  border-radius: 1vh;
  border: none;
}
[oct-css="banner big whiteRange flex"]{
  margin-top: 1vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffe9c2;
  color:#663b03;
  text-align: left;
  border-radius: 1vh;
  border: none;
}
[oct-css*="flex"]  article{
  width: 40vh;
  margin-bottom: 7vw;
}
}
@layer Code{
  .codeEx nav{
    border-radius: 2vh 2vh  0 0;
    width: 59vw;
    background-color: #d3d3d3;
    color: #686868;
    padding: 0.5vw;
    
  }
  .codeEx p{
    text-align: left;
    padding: 1vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
  .codeEx{
    margin-left: 5vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 2vh;
    background-color: #eeeeee;
    width: 60vw;
    padding-bottom: 4vh;
    border: #b9b9b9 solid 0.2vh;
    ;
  }
}
@layer MiniCards{
  [oct-css="containerCard"]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #686868;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4vh;
    margin-top: 4vh;
    
  }

  [oct-css="containerCard"] div{

     padding: 2vh;
     text-align: center;
     width: 30vh;
     height: 20vh;
     margin-left: 1vh;
     margin-bottom: 3vh;
  }
  [oct-css="containerCard"] h3{font-weight: lighter;}
}
@layer Cards{
  [oct-css*="card"]{
    
    margin-top: 4vh;
    border: 0.1vh solid #ffae22;
    color: #ffae22;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2vh;
  }
  [oct-css~="card"][oct-css~="md"]{width: 30vh;padding: 4vh;}
  [oct-css~="card"][oct-css~="sm"]{width: 20vh;padding: 4vh;background-color: #725319;}

  [oct-css*="card"] button{color:#f5b238;background-color:transparent;border: 0.1vh solid #ffae22;padding: 0.8vh;cursor: pointer;}
  [oct-css*="card"] button:focus{color: #663b03; background-color: #dda339;}
}
@layer Container{
  [oct-css~="container"]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  [oct-css~="container"][oct-css~="md"]{width: 70%; padding: 2vh;margin: auto;}
  [oct-css~="container"][oct-css~="sm"]{width: 45%; padding: 2vh;margin: auto;}
}
@layer Class{
.titulo_center{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #686868;
}
}

