/* Cores utilizadas 
Fontes : 
Background : 
Tipo fonte: 
*/ 
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#MenuBar{
    background-color: #BD8E23;
    height: 20vh;
    width: 100%;
    margin-top: -3vh;
    margin-left: -2vh;
    position: fixed;
    z-index: 10;

}

#MenuBar ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    margin-top: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#MenuBar ul li h1{
    color: #FFC031;
    margin-left: 4vh;
    margin-top: 3vh;
    font-size: 6vh;
}

#Mainbanner{
    z-index: 1;
    position: absolute;
    margin-top: 17vh;
    width: 100%;
    height: 50vh;
    margin-left: -2vh;
    background-color: #866415;
    color: #FFC031;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Mainbanner h1{
    font-size: 10vh;
    margin-top: 2vh;
}
#Mainbanner h2{
    margin-top: -6vh;
    width: 80vh;
    margin-left: 60vh;
}
#squareBasic{
    background-color: #FFC031;
    border-radius: 2vh;
    margin-left: 94vh;
    margin-top: 2vh;
}
#Article-area-main{
    height: 300px;
    width: 90%;
    background-color: #BD8E23;
    margin:auto;
    padding: 2vh;

}
.article{
    background-color: #866415;
    width: 10vh;
    height: 10vh;
    float: left;
    margin-left: 12vh;
    border-radius: 2vh;
}
.article figure{
    background-color: white;
    height: 20vh;
    width: 40vh;
    margin: auto;
    border-radius: 2vh 2vh 0vh 0vh;
}
.article figure img{
    margin: auto;
    margin-top: 6vh;
    margin-left: 16vh;
}
.article section{
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
}
.area{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 70vh;
    height: auto;
    width: 100%;
    margin-left: -2vh;
}

/* Boxes */
.boxfac{
    background-color: #866415;
    height: 2vh;
    width: 2vh;
    margin-top: -3.8vh;
    margin-left: 8vh;
    animation-name: moveBox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.boxcode{

    height: 6vh;
    width: 1vh;
    margin-top: -8vh;
    margin-left: 20vh;
    transform: rotate(8deg);
}
.boxdev{
    width: 8.8vh;
    height: 11.5vh;
    background-color: #726970;
    margin-top: -12vh;
    margin-left: 16vh;
}

#DocumentationArea{
    height: 60vh;
    width: 92%;
    margin-top: 50vh;
    margin-left: 7.9vh;
    position: absolute;
    display: flex;
    flex-direction: column;
}
#DocumentationArea_content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
#ArticleDocs{
    height: 50vh;
    width: 70vh;
    margin-left: 2vh;
}
#ArticleDocs h4{
    font-weight: lighter;
}
/* Code Reviews */

#CodeReview{
    height: 50vh;
    width: 60vh;
    margin-left: 28vh;
    border-radius: 2vh;
    background-color: #222225;
}
#CodeReview h6{
    color: wheat;
    margin-left: 2vh;
    font-weight: bold;
    font-size: 1.8vh;
}
#element_title_h3{
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: #272733;
    color: #726970;
    margin-top: 0.1vh;
    text-align: center;
    padding-bottom: 1vh;
}
#NavegationMenu{
    height: 10vh;
    width: 100%;
    background-color: #866415;
    display: flex;
    flex-direction: row;
}

button{
    border-radius: 2vh;
    background-color: #FFC031;
    color: #866415;
    padding: 2vh;
    text-align: center;
    border-color: #BD8E23;
}
#flutter button
{
    margin-top: 2vh;
    margin-left: 2vh;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    #squareBasic{
        background-color: #FFC031;
        border-radius: 2vh;
        margin-left: 20vh;
        margin-top: 2vh;
    }
    #Mainbanner h2{
        margin-top: -6vh;
        width: 40vh;
        margin-left: 4vh;
    }
    .article{
        height: 10vh;
        width: 10vh;
        margin-left: 1vh;
        margin-top: 4vh;
    }
    #Article-area-main{
        height: auto;
    }
    .boxdev{
        height: 2vh;
        width: 6.4vh;
        animation-name: boxdev2;
    }
    #DocumentationArea{
        margin-top: 140vh;
        margin-left: 2vh;
        height: 100vh;
    }
    #DocumentationArea_content
    {
        flex-direction: column;
    }
    #CodeReview{
        margin-left: -1vh;
        width: 120%;
        overflow-wrap: break-word;
        margin-top: -13vh;
    }
}

/* Animations  */ 
@keyframes boxfac {
    0%   {margin-left: 20vh;}
    25%  {margin-left: 10vh;}
    50%  {margin-left: 0vh;}
    75%  {margin-left: 10vh;}
    100% {margin-left: 20vh;}
  }

@keyframes boxcode{
    0%   {background-color:rgba(6, 187, 0,1);margin-left: 20vh;}
    25%  {background-color:rgba(6, 187, 0,0.4);margin-left: 10vh;}
    50%  {background-color:rgba(6, 187, 0,0.2);margin-left: 8vh;}
    75%  {background-color:rgba(6, 187, 0,0.4);margin-left: 10vh;}
    100% {background-color:rgba(6, 187, 0,1);margin-left: 20vh;}
}

@keyframes boxdev{
    0%   {height: 11.5vh;}
    25%  {height: 10vh;}
    50%  {height: 0vh;}
    75%  {height: 10vh;}
    100% {height: 11.5vh;}
}